{% extends "Base.html" %}
{% block content %}
<style>
    th{
      background-color:#454545;
      color:#fff;
      padding:15px 0px;
      font-size: 1.1em;;
      border:1px solid #454545;
    }
</style>

  <div style="width:100% !important;max-width:1700px; text-align: center; border:0px solid red;overflow: hidden;display:inline-table;vertical-align:top;border: 0px solid blue;">
      <div style="width: 35%; display: inline-table; border:0px solid black;padding:0px 10px;" >
        {% with messages = get_flashed_messages()  %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
</div>

    <center>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
    <div style="width:100%;float:left;border:0px solid yellow;padding:0px 10px;margin-top: 20px;">
        <table id= "myTable" class="table table-striped table-hover table-bordered table-sm bg-white; display;" style="width:100%;">
          <thead>
            <tr class="header">
              <th>id</th>
              <th>name</th>
              <th>user</th>
              <th>correo</th>
              <th>area</th>
              <th>addr</th>
              <th>os</th>
              <th>hostname</th>
            </tr>
          </thead>
          <tbody>
            {% for contact in contacts %}
            <tr>
              <td>{{contact.0}}</td>
              <td>{{contact.1}}</td>
              <td>{{contact.2}}</td>
              <td>{{contact.3}}</td>
              <td>{{contact.4}}</td>
              <td>{{contact.5}}</td>
              <td>{{contact.6}}</td>
              <td>{{contact.7}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </center>
      <script>
        function myFunction() {
          // Declare variables
          var input, filter, table, tr, td, i, txtValue,x;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
        
          // Loop through all table rows, and hide those who don't match the search query
          
            for (i = 0; i < tr.length; i++) {
              td = tr[i].getElementsByTagName("td")[4];
              if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
                } else {
                  tr[i].style.display = "none";
                }
              }
              
            }
          
        }
        </script>
{% endblock %}